@model SlideViewModelWithNavigation

<div class="row">
    <div class="col-md-2 col-md-offset-2">
        @if (Model.Prev != null)
        {
        <a type="button" class="btn btn-default" data-dismiss="modal" href="~/section/@Model.Prev.SectionId/slide/@Model.Prev.Id">Prev</a>
        }
    </div>
    <div class="col-md-4" style="text-align: center">

        @if (User.IsInRole("admin") && Model.Id > 0)
        {
        <a type="button" class="btn btn-default" data-dismiss="modal" href="./edit/@Model.Id">Edit</a>
        }
    </div>
    <div class="col-md-2" style="text-align: right">
        @if (Model.Next != null)
        {
        <a type="button" class="btn btn-primary" data-dismiss="modal" href="~/section/@Model.Next.SectionId/slide/@Model.Next.Id">Next</a>
        }
    </div>
</div>