@model SectionViewModel

@{
//ViewData["Title"] = "Edit Section";
}

<h2>Name: @Model.Name</h2>
<h3>Class: @Model.Class</h3>

<a type="button" class="btn btn-default" data-dismiss="modal" href="./@Model.Id/slide/">Slides</a>